.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #DB8962;
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 5s;
    background-color: #DB8962;
}
.section-bg {
    background: #272829;
}
.section-title p {
    margin-bottom: 0;
    color: #fff;
}
.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}


.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #EDF5E1;
  height: 10px;
}
.skills .ProgressBar {
  border-radius: 0px;
}
