#Footer .footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #EDF5E1;
  color: #212434;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#Footer .footer .social-links a:hover {
  /* background: #149ddd; */
  background: #212434;
  color: #fff;
  text-decoration: none;
}
